<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calendo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B44824E91CE6F7DE00E6A524</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B44824FD1CE6F7DF00E6A524</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B44825081CE6F7DF00E6A524</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
